<div class="header-middle">
  <div class="container">
      <div class="left">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            USD
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">CAD</a></li>
            <li><a class="dropdown-item" href="#">EUR</a></li>
            <li><a class="dropdown-item" href="#">GBR</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            English
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">GERMAN</a></li>
            <li><a class="dropdown-item" href="#">FRENCH</a></li>
            <li><a class="dropdown-item" href="#">ENGLISH</a></li>
          </ul>
        </div>
        <div class="contact"><i class="bi bi-telephone"></i>+4400454512135</div>
      </div>
      <div class="right">
        <div class="log">LOGIN</div>
        <div class="create">CREATE ACCOUNT</div>
        <div class="wishlist">WISHLIST</div>
      </div>
  </div>
</div>
