<div class="main-category">
  <div class="slider">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="card card-1 ">
          <div class="btn">
            FASHION
          </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="card card-2">
          <div class="btn">
            COSMETIC
          </div>
      </div>
    </ng-template><ng-template carouselSlide>
      <div class="card card-3">
          <div class="btn">
            ACCESSORIES
          </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="card card-4">
          <div class="btn">
            SHOES
          </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="card card-5">
          <div class="btn">
            JEWELRY
          </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="card card-6">
        <div class="btn">
          BAGS
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
  </div>
</div>

