#main-fetured-product{
  display: flex;
  justify-content: center;
}
.container{
  margin: 0;
  padding:40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title h3{
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
}
.title span{
  font-size:13px;

}
.title{
  margin-bottom: 20px;
}
.row{
  gap:15px;
}
.card{
  border: none;
  border-radius: 0;
  position: relative;
}
.card-head{
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;
}
.sale{
  padding: 2px 4px;
  margin-left: 2px;
  background-color: #ff708e;
  font-size: 11px;
  color: white;
  font-weight: bold;
}
.card-body{
  display: flex;
  gap:10px;
}
.card-head-hover{
  width: 250px;
  height: 250px;
  position: absolute;
  top:0;
  background-color: rgba(237, 228, 255,0.5);
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
.icon{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.btn{
  background-color: black;
  color: white;
  margin-bottom: 2px;
}

.card:hover .card-head-hover{
  display: flex;
}
.slide-1{
  background-image: url("/assets/fashion-1.jpg");
}
.slide-2,.slide-7{
  background-image: url("/assets/fashion-2.jpg") ;
  background-position: center!important;
}
.slide-3{
  background-image: url("/assets/fashion-3.jpg");
  background-position: center!important;
}
.slide-4,.slide-8{
  background-image: url("/assets/fashion-4.jpg");
  background-position: center!important;
}
.slide-5{
  background-image: url("/assets/fashion-5.jpg");
  background-position: center!important;
}
.slide-6{
  background-image: url("/assets/fashion-6.jpg");
  background-position: center!important;
}

@media only screen and (max-width: 550px) {
  .row{
    display: flex;
    flex-direction: column;
  }
}
