<div id="main-fetured-product">
  <div class="container">
    <div class="title">
      <h3>FEATURED COLLECTION</h3>
      <span>Our most popular products based on sales</span>
    </div>
    <div class="row ">
      <div class="col">
        <div class="card">
          <div class="card-head slide-1">
            <span class="sale">-16%</span>
          </div>
          <div class="card-head-hover">
            <div class="icon">
              <i class="bi bi-heart"></i>
              <i class="bi bi-bag"></i>
            </div>
            <div class="btn">
              Quick Shop
            </div>
          </div>
          <div class="card-body">
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
          </div>
        </div>
      </div><div class="col">
      <div class="card">
        <div class="card-head slide-2">
        </div>
        <div class="card-head-hover">
          <div class="icon">
            <i class="bi bi-heart"></i>
            <i class="bi bi-bag"></i>
          </div>
          <div class="btn">
            Quick Shop
          </div>
        </div>
        <div class="card-body">
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
        </div>
      </div>
    </div><div class="col">
      <div class="card">
        <div class="card-head slide-3">
          <span class="sale">-16%</span>
        </div>
        <div class="card-head-hover">
          <div class="icon">
            <i class="bi bi-heart"></i>
            <i class="bi bi-bag"></i>
          </div>
          <div class="btn">
            Quick Shop
          </div>
        </div>
        <div class="card-body">
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
        </div>
      </div>
    </div>
      <div class="col">
      <div class="card">
        <div class="card-head slide-4">
        </div>
        <div class="card-head-hover">
          <div class="icon">
            <i class="bi bi-heart"></i>
            <i class="bi bi-bag"></i>
          </div>
          <div class="btn">
            Quick Shop
          </div>
        </div>
        <div class="card-body">
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
        </div>
      </div>
    </div>
      <div class="col">
        <div class="card">
          <div class="card-head slide-5">
          </div>
          <div class="card-head-hover">
            <div class="icon">
              <i class="bi bi-heart"></i>
              <i class="bi bi-bag"></i>
            </div>
            <div class="btn">
              Quick Shop
            </div>
          </div>
          <div class="card-body">
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-head slide-6">
          </div>
          <div class="card-head-hover">
            <div class="icon">
              <i class="bi bi-heart"></i>
              <i class="bi bi-bag"></i>
            </div>
            <div class="btn">
              Quick Shop
            </div>
          </div>
          <div class="card-body">
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
          </div>
        </div>
      </div>


      <div class="col">
        <div class="card">
          <div class="card-head slide-7">
          </div>
          <div class="card-head-hover">
            <div class="icon">
              <i class="bi bi-heart"></i>
              <i class="bi bi-bag"></i>
            </div>
            <div class="btn">
              Quick Shop
            </div>
          </div>
          <div class="card-body">
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-head slide-8">
          </div>
          <div class="card-head-hover">
            <div class="icon">
              <i class="bi bi-heart"></i>
              <i class="bi bi-bag"></i>
            </div>
            <div class="btn">
              Quick Shop
            </div>
          </div>
          <div class="card-body">
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
