.main-blog{
  width: 100%;
  background-color: #31A3A3;
}
.heading{
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
h2{
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
}
.col{
  flex: 1;
  height: 300px;
  display: flex;
  align-items: center;
  position: relative;
}
img{
  height: 250px;

  border-radius: 10px;
}

.content{
  position: absolute;
  /*width: 200px;*/
  padding: 10px;
  background-color: #FFFFFF;
  left: 160px;
  border-radius: 10px;
}
h3{
  font-size: 16px;
}
h4{
  font-size: 10px;
}

p{
  font-size: 12px;
}

