<div class="main-blog">
  <div class="container">
    <div class="heading">
      <h2>LATEST FROM OUR BLOG</h2>
    </div>
  <div class="row" id="blog-row">
    <div class="col">
      <div class="img">
        <img src="/assets/blog-1.jpg" alt="">
      </div>
      <div class="content">
        <h3>Lorem ipsum.</h3>
        <h4>may, 2023</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur ea eum facilis fugit, magni?</p>
      </div>
    </div>
    <div class="col">
      <div class="img">
        <img src="/assets/blog-2.jpg" alt="">
      </div>
      <div class="content">
        <h3>Lorem ipsum.</h3>
        <h4>may, 2023</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur ea eum facilis fugit, magni?</p>
      </div>
    </div>
  </div>
</div>
</div>
