<div class="footer-middle">
  <div class="container">
    <div class="row row-col-sm-1">
      <div class="col">
        <h6>Quick Shop</h6>
        <ul>
          <li>Women</li>
          <li>Men</li>
          <li>Kids</li>
          <li>Sportswear</li>
          <li>Sale</li>
          <li>Accessories</li>
        </ul>
      </div>
      <div class="col">
        <h6>Information</h6>
        <ul>
          <li>About us</li>
          <li>Careers</li>
          <li>Privacy policy</li>
          <li>Terms & condition</li>
          <li>My Account</li>
          <li>FAQs</li>
        </ul>
      </div>
      <div class="col">
        <h6>Customer Service</h6>
        <ul>
          <li>Request Personal Data</li>
          <li>FAQ's</li>
          <li>Contact Us</li>
          <li>Orders and Returns</li>
          <li>Support Center</li>
          <li>Shipping & Delivery</li>
        </ul>
      </div>
      <div class="col">
        <h6>Contact Us</h6>
        <div class="contact">
          <span>55 Gallaxy Enque,</span><br>
          <span>2568 steet, 23568 NY</span><br><br>
          <span><span class="title">Phone:</span>(440) 000 000 0000</span><br>
          <span><span class="title">Email :</span>sales@yousite.com</span><br><br>
          <i class="bi bi-facebook"></i>
          <i class="bi bi-twitter"></i>
          <i class="bi bi-instagram"></i>
          <i class="bi bi-whatsapp"></i>
        </div>
      </div>
    </div>
  </div>
</div>
