<div class="main-offer">
  <div class="container">
    <div class="row">
      <div class="col">
        <i class="bi bi-truck"></i>
        <h5>FREE SHIPPING & RETURN</h5>
        <p>Free shipping on all US orders</p>
      </div>
      <div class="col">
        <i class="bi bi-cash"></i>
        <h5>MONEY GAURNTEE</h5>
        <p>30 days money back guarantee</p>
      </div>
      <div class="col">
        <i class="bi bi-phone"></i>
        <h5>ONLINE SUPPORT</h5>
        <p>We support online 24/7 on day</p>
      </div>
      <div class="col">
        <i class="bi bi-lock"></i>
        <h5>SECURE PAYMENTS</h5>
        <p>All payment are Secured and trusted.</p>
      </div>
    </div>
  </div>
</div>
